<div class="container">
  <div class="row">
    <div class="col-6 col-md-6" style="text-align: center">
      <h3>Welcome, <%= @user.name %>!</h3>
      <h4>Email: <%= @user.email %></h4>
    </div>
    
    
    <div class="col-6 col-md-6" style="margin-bottom: 20px;">
      <% if @user.avatar.present? %>
        <%= image_tag(@user.avatar, :size => "200x200") %>
      <% end %> <br>
    </div>
    
  </div>

  
  <div class ="row">
    
    <div id="userStoriesShowInfo" class=" well col-sm-12">
      <h4 style="color: green;"><b>Your Food Stories:</b></h4>
      <% @user.stories.each do |story| %>
        <p><%= link_to story.title, story_path(story) %>
        <div id="content-<%= story.id %>"><%= story.content.truncate(200) %>
          <a href='#' data-id ="<%= story.id %>" class='js-more'>Read More</a>
        </div><br>
      <% end %>
    </div>
  </div>
</div>
