<%= form_for(@story) do |form| %>
  <%= render 'shared/error_messages' %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </p>
  
  <p>
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </p>
  
  <%= form.fields_for :food do |food_builder| %>
    <p><strong>Food Name</strong> <%= food_builder.text_field :name, class: 'form-control' %><br></p>
    <p><strong>Type of Food</strong> <%= food_builder.text_field :category, class: 'form-control' %><br></p>
  <% end %>
    
  <p>
    <%= form.label :content %>
    <%= form.text_area :content, rows: 10, class: 'form-control' %><br>
  </p>
  
  <p>
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %><br>
  </p>
  
  
  <p><strong>Recommendations</strong><%= form.text_field :recommendation, class: 'form-control' %><br></p>

  <%= form.submit "Create Story", class: "btn btn-md btn-primary" %>
<% end %>
