<div class="container">
  <div class=" well col-sm-6">
    <%= render 'shared/error_messages' %>
    <h4>Food Travel Story</h4>

    <h2>Title: <span class="storyTitle"><%=@story.title%></span></h2>
    
    <p>Location: <span class="storyLocation"><%=@story.location%></span></p>
    <p>Name: <span class="storyFoodName"><%=@food.name%></span></p>
    <p>Type of Food: <span class="storyFoodCategory"><%=@food.category%></span></p>

    <p>Content: <span class="storyContent"><%=@story.content%></span></p>
    <p>Recommendations: <span class="storyRecommendation"><%=@story.recommendation%></span></p><br>

    <%= link_to "Update Food Travel Story", edit_story_path(@story), class: "btn btn-info btn-sm dest_button" %><br><br>
    <%= link_to "Delete Food Travel Story", [@story], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-sm dest_button" %><br><br>

    <a href="#" class="js-previous btn btn-primary btn-sm" data-id="<%=@story.id%>">View Previous Food Story</a><br><br>
    <a href="#" class="js-next btn btn-primary btn-sm" data-id="<%=@story.id%>">View Next Food Story</a><br><br>
  </div>

</div>