<div class= "container">
  <p id="notice"><%= notice %></p>

  <h1>Categories</h1>
  <p>
    
  <button class="button "><%= link_to 'New Category', new_category_path %></button> 
  
  </p>
  
  <h2 class= " font-size:100%"> Name</h2>
  
    <tbody>
      <% @categories.each do |category| %>
      <div class="well -col-sm-6">
          <!--<p  class= "solid"; ></p>-->
          <h1 class="solid"><%= category.name %></h1>
    
     
      <button class="button "><%= link_to 'Show', category %> </button> 
      <button class="button "><%= link_to 'Edit', edit_category_path(category) %> </button> 
      <button class="button "><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></button>
       </div >
      <% end %>
    </tbody>
</div>



