
<div class="container">
  <p id="notice"><%= notice %></p>
 
    <h2>Category</h2>

    <h4 style="text-align: middle; font-style: italic;"><%= @category.name %></h4>

    <h3> Foods under this category </h3>
      
          <% Food.where(category_id: @category.id).each do |food| %>
            <h4 style="text-align: middle; font-style: italic;"><%= link_to food.name, foods_path(@food) %></h4></div>
          <% end %>

  <button class="button"><%= link_to 'Edit', edit_category_path(@category) %> </button> 
  <button class="button button2"><%= link_to 'Back', categories_path %></button>
  
</div>
