<!DOCTYPE html>
<html>
  <head>
    <title>FoodStoryRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <%= yield %>

    <hr>

    <footer class="container">
      <small>&copy; 2020 Developed by <a href="https://github.com/huydaodang2706/food-stories-rails">NHTHN</a> | <a href="https://github.com/huydaodang2706/food-stories-rails">GitHub <i class="fa fa-github"></i></a></small>
    </footer>

  </body>
</html>
